- require 'coffee_script'
- require 'less'
!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content='width=device-width, initial-scale=1.0' name='viewport')
    %title= @title
    - less = File.read "apps.less"
    - less += Dir[@basename + "*.less"].map{|f| File.read f}.join
    - unless less.empty?
      %style
        = Less::Parser.new.parse(less).to_css 
    - coffee = Dir[@basename + "*.coffee"].map{|f| File.read f}.join
    - unless coffee.empty?
      %script
        = CoffeeScript.compile coffee
  %body
    %header
      %nav
        %ul
          %li
            %a(href='../index.html')Home
          %li
            %a(href='../about.html')About
      %h1= @title
      - if @title_image_url
        %img{src:@title_image_url}

    %article
      = Haml::Engine.new(@content, :format => :html5).render Object.new
